@charset "utf-8";
html,body {
	height: 100%;
	width: 100%;
}
body {
	background-image: url("../images/bg-img.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	overflow: hidden;
}
img {
	display: block;
}
.header {
	position: absolute;
	top: 0.5rem;
	width: 100%;
}
.header img {
	width: 85.7333%;
	margin: 0 auto;
}
.index-hb {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8.76rem;
	background-image: url("../images/index-hb.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
}
.handle-box {
	position: absolute;
	bottom: 0;
	padding-bottom: 0.4rem;
	width: 100%;
}
.gz-text {
	font-size: 0.26rem;
	color: #fff;
	text-decoration: underline;
	text-align: center;
	margin-top: 0.6rem;
}
.q-btn,
.l-btn {
	display: block;
	width: 4.15rem;
	height: 1.33rem;
	margin: 0 auto;
	padding-top: 0.5rem;
	background-image: url("../images/button.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	font-size: 0.44rem;
	color: #b30710;
	text-align: center;
	font-weight: 700;
	box-sizing: border-box;
}
.mask {
	position:fixed;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, .5);
	z-index:1000;
}
.pop {
	position: fixed;
	width: 100%;
	top: 2.21rem;
	z-index: 1100;
}
.pop-close {
	position: absolute;
	top: -1.14rem;
	left: 50%;
	width: 0.62rem;
	margin-left: 2.07rem;
}
.pop img {
	display: block;
	width: 5.55rem;
	margin: 0 auto;
}
.pop-close img {
	width: 100%;
}
/*第二页样式*/
.header_02 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.6rem;
}
.computer {
	position: absolute;
	top: 1rem;
	left: 0.37rem;
	width: 1.69rem;
	height: 1.54rem;
	background-image: url("../images/computer.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	animation-duration: 3s;
	-webkit-animation-duration: 3s; /* Safari 和 Chrome */
}
.computer .wifi_01 {
	position: absolute;
	top: 0.44rem;
	left: 0.45rem;
	width: 0.49rem;
	height: 0.38rem;
	background-image: url("../images/wifi-5.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
}
.icon_01 {
	position: absolute;
	top: 0.72rem;
	left: 2.28rem;
	width: 0.29rem;
	height: 0.29rem;
	background-image: url("../images/icon_01.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
}
.clock {
	position: absolute;
	top: -0.2rem;
	right: 1.67rem;
	width: 0.96rem;
	height: 0.96rem;
	background-image: url("../images/clock.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
}
.clock .solid {
	position: absolute;
	top: 0;
	right: 50%;
	width: 0.05rem;
	height: 0.96rem;
	background-image: url("../images/solid.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 50%;
	animation:mymove infinite linear;
	animation-duration:2s;
	-webkit-animation:mymove infinite linear;
	-webkit-animation-duration:2s;
}
@keyframes mymove
{
from {
	transform: rotate(0);
	-webkit-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
}

@-webkit-keyframes mymove
{
from {
	transform: rotate(0);
	-webkit-transform: rotate(0);
}
to {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
}
.icon_02 {
	position: absolute;
	top: 0.61rem;
	right: 3.18rem;
	width: 1.09rem;
	height: 1.33rem;
	background-image: url("../images/icon_02.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function:linear;
	-webkit-animation-timing-function:linear;
}
.wifi {
	position: absolute;
	top: 1.14rem;
	right: 0.84rem;
	width: 1.12rem;
	height: 0.87rem;
	background-image: url("../images/wifi.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100%;
	animation:huxi infinite linear;
	animation-duration:3s;
	-webkit-animation:huxi infinite linear;
	-webkit-animation-duration:3s;
}
@keyframes huxi
{
0% {
	transform: scale(1);
	-webkit-transform: scale(1);
}
50% {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
100% {
	transform: scale(1);
	-webkit-transform: scale(1);
}
}

@-webkit-keyframes mymove
{
0% {
	transform: scale(1);
	-webkit-transform: scale(1);
}
50% {
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
100% {
	transform: scale(1);
	-webkit-transform: scale(1);
}
}